<!doctype html>
<html lang="<%= site.locale %>" class="h-full">
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>
  <body class="h-full bg-gray-100 flex flex-col <%= data.layout %> <%= data.page_class %>">
    <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource) %>

    <%= yield %>

    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
